﻿@model IEnumerable<Demo.Areas.Admin.Models.CategoryModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @*@Html.ActionLink("Supprimer", "Delete", "Category", new { id=item.Id }, null)*@
            <a href="@Url.Action("Delete", "Category")/@item.Id">
                <button class="btn btn-danger">Supprimer</button>
            </a>
        </td>
    </tr>
}

</table>
