﻿@model Demo.Models.DishDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <img src="~/Content/Images/@(Model.Picture ?? "default.jpg")" />
    <p>@Model.Name</p>
    <p>@Model.PriceWithDiscount</p>
    <p>@Model.Category.Name</p>
</div>