﻿@model IEnumerable<Demo.Models.DishDetailsModel>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col s12 m4">
            @* @Url.Action(string action, string controller) Génère un lien vers une méthode particulière *@
            <a href="@Url.Action("Details", "Dish")/@item.Id" class="card-link">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Content/Images/@(item.Picture ?? "default.jpg" )" />
                    </div>
                    <div class="card-content" style="height:150px">
                        <h6>@item.Name (@item.Category.Name)</h6>
                        @{
                            if (item.Discount != null)
                            {
                                <p style="text-decoration:line-through">@item.Price €</p>
                                <p class="red-text">@item.PriceWithDiscount €</p>
                            }
                            else
                            {
                                <p>@item.Price €</p>
                            }
                        }
                    </div>
                    <div class="card-action">

                    </div>
                </div>

            </a>
        </div>

    }
</div>
