﻿@model Demo.Models.SearchFormModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SearchFormModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NameSushi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameSushi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameSushi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <select name="PickedCategories" multiple>
                @foreach (var item in Model.AllCategories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="send" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div id="results">

    </div>

@section scripts{
<script>
    // ready s'assure que la page est chargée avant d'éxécuter 
    // l'interieur de la fonction
    $(document).ready(function () {
        // ici le code sera éxécuté quand la page sera completement chargée
        $('select').formSelect();
        //je récupère le bouton dont l'id est send
        let btn = document.getElementById("send");

        let form = document.querySelector("form");

        let results = document.getElementById("results");

        btn.addEventListener("click", function (event) {
            // annule le comportement par defaut du bouton
            event.preventDefault();
            // requete ajax avec jquery
            $.ajax({
                //url que l'on veut contacter
                url: "@Url.Action("AjaxSearch","Dish")",
                //verbe http que l'on utiliser,
                method: "POST",
                //données que l'on veut envoyer
                data: $(form).serialize(),
                //type de données que l'on va recevoir
                dataType: "HTML",
                //la methode qui va être éxécutée en cas de success
                success: function (data) {
                    results.innerHTML = data;
                },
                //la methode qui etre executée en cas d'echec
                error: function (error) {
                    console.log(error);
                }
            })
        });
    });
</script>
}
