﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sushi Shop", "Home", "Default", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Home", "Default")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Default")</li>
                    <li>@Html.ActionLink("Menu", "Index", "Dish")</li>
                    @{
                        if (!Demo.Utils.Session.Instance.IsLogged)
                        {
                            <li>@Html.ActionLink("S'enregistrer", "Register", "Security")</li>
                            <li>@Html.ActionLink("Se Connecter", "Login", "Security")</li>
                        }
                        else
                        {

                            <li>@Html.ActionLink("Panier", "Cart", "Dish")</li>
                            <li>@Html.ActionLink("Se Déconnecter", "Logout", "Security")</li>
                            if(Demo.Utils.Session.Instance.ConnectedUser.Role == "ADMIN")
                            {
                                <li>@Html.ActionLink("Administration", "Index", "Category", new { Area = "Admin" }, null)</li>
                            }
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="margin-top:30px">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    <p>@ViewBag.SuccessMessage</p>
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <p>@ViewBag.ErrorMessage</p>
                </div>
            }
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
