﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Ma super Entête</h1>
    <p>Mon Autre Layout</p>

    @RenderBody()
    <h1>Mon Super Footer</h1>
</body>
</html>

