﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.card-image {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.card-image>img{
    position: absolute
}

.card-link {
    transition: all 0.5s;
    display: block;
    padding: 5px;
    cursor: pointer;
}

.card{
    margin: 0!important;
}

.card-link:hover {
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 5px orange;
    text-decoration: none;
}